.chart {
    -fx-vertical-grid-lines-visible: false;
}
.chart-title {
    -fx-text-fill: whitesmoke;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.axis {
    -fx-tick-label-fill: whitesmoke;
}
.chart .line {
    -fx-stroke: whitesmoke;
}
.tooltip {
    -fx-background-color: rgba(0, 0, 140, .5);
    -fx-text-fill: whitesmoke;
    -fx-padding: 0;
}
.candlestick-bar {
    -fx-background-color: whitesmoke;
}
.candlestick-bar.close-above-open {
    -fx-background-color: #990e0e;
}
.candlestick-bar.open-above-close {
    -fx-background-color: #19b34c;
}
.candlestick-line {
    -fx-stroke-width: 3px;
    -fx-stroke: whitesmoke;
}
.candlestick-line.close-above-open {
    -fx-stroke: #990e0e;
}
.candlestick-line.open-above-close {
    -fx-stroke: #19b34c;
}