.root-stack {
    -fx-background-image: url('../images/bg.jpg');
    -fx-background-size: cover;
}

.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.jfx-spinner .arc {
    -fx-stroke: whitesmoke;
    -fx-stroke-width: 10px;
}