.root-stack {
    -fx-background-color: #336699;
}

.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.jfx-spinner .arc {
    -fx-stroke: whitesmoke;
    -fx-stroke-width: 10px;
}