.jfx-list-view, .jfx-list-view * {
    -fx-background-color: transparent;
    -fx-text-fill: whitesmoke;
    -fx-padding: 0;
}

.jfx-date-picker .jfx-text-field {
    -fx-text-fill: whitesmoke;
    -jfx-unfocus-color: grey;
}