.jfx-date-picker {
    -jfx-unfocus-color: gray;
    -jfx-default-color: #f2be45;
}

.jfx-text-field, .jfx-combo-box .text-field {
    -jfx-focus-color: whitesmoke;
    -jfx-unfocus-color: gray;
    -fx-text-fill: whitesmoke;
}

.jfx-combo-box .label {
    -fx-text-fill: black;
}

.jfx-combo-box .list-cell {
    -fx-text-fill: whitesmoke;
}

.jfx-radio-button {
    -fx-text-fill: whitesmoke;
}